{
  "general": {
    "device_map_file": "SHB1000_known_devices.config",
    "command_map_file": "SHB1000_commands.map",
    "scan_timeout_sec": 20
  },
  "devices": {
    "SHB1000": {
      "serviceUUID": "c8ad063d-cc77-4d98-997f-dc796450b209",
      "characteristicUUID": "f62a9f56-f29e-48a8-a317-47ee37a58999",
      "lightBrightnessCharacteristicUUID": "f62a9f56-f29e-48a8-a317-47ee37a58999",
      "defaultBrightness": 4,
      "fastTurnSensitivity1": 250,
      "fastTurnSensitivity2": 130,
      "fastTurnIncrements1": 2,
      "fastTurnIncrements2": 5,
      "newTurnPause": 500
    }
  }
}