{
  "devices": [
    {
      "address": "",
      "auto_reconnect": true,
      "instrument": "PFD",
      "last_connected": "2026-03-14T09:15:00",
      "name": "Unknown",
      "position": "left",
      "type": "SHB1000"
    },
    {
      "address": "",
      "auto_reconnect": false,
      "instrument": "MFD",
      "last_connected": "never",
      "name": "Unknown",
      "position": "right",
      "type": "SHB1000"
    },
    {
      "address": "",
      "auto_reconnect": false,
      "instrument": "RADIO",
      "last_connected": "never",
      "name": "Unknown",
      "position": "center",
      "type": "SH100AP"
    },
    {
      "address": "886b0f9d1f87",
      "auto_reconnect": true,
      "instrument": "PFD",
      "last_connected": "2026-06-06T07:15:24",
      "name": "SHB1000",
      "position": "SHB1000",
      "type": "unknown"
    }
  ]
}