{
  "aircraft_history": {
    "C172SP G1000 Cargo": {
      "last_used": "2026-04-14T19:21:13",
      "map_id": "std_g1000"
    },
    "C172SP G1000 Passengers": {
      "last_used": "2026-04-17T12:37:48",
      "map_id": "std_g1000"
    },
    "C208B Medic": {
      "last_used": "2026-04-14T19:55:38",
      "map_id": "nxi_gmc710"
    },
    "C208B Skydive": {
      "last_used": "2026-04-04T21:03:19",
      "map_id": "nxi_gmc710"
    },
    "Cessna Skyhawk G1000 Asobo": {
      "last_used": "2024-04-03T18:30:00Z",
      "map_id": "std_g1000"
    }
  },
  "devices": {
    "SHB1000": {
      "characteristicUUID": "f62a9f56-f29e-48a8-a317-47ee37a58999",
      "defaultBrightness": 4,
      "fastTurnIncrements1": 2,
      "fastTurnIncrements2": 5,
      "fastTurnSensitivity1": 250,
      "fastTurnSensitivity2": 130,
      "lightBrightnessCharacteristicUUID": "f62a9f56-f29e-48a8-a317-47ee37a58999",
      "newTurnPause": 500,
      "serviceUUID": "c8ad063d-cc77-4d98-997f-dc796450b209"
    }
  },
  "general": {
    "default_map_id": "std_g1000",
    "device_map_file": "SHB1000_known_devices.config",
    "scan_timeout_sec": 20
  },
  "maps": [
    {
      "file": "SHB1000_commands.map",
      "id": "std_g1000",
      "name": "Standard G1000 (Cessna 172)"
    },
    {
      "file": "G1000NXi_with_GMC_710_SHB_commands.map",
      "id": "nxi_gmc710",
      "name": "G1000 NXi mit GMC 710 Panel (Cessna 208)"
    }
  ]
}